# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
spring-cloud-eureka-server/target/*
spring-cloud-consumer/src/
spring-cloud-eureka-server/src/test/
spring-cloud-provider/src/main/java/
spring-cloud-provider/src/test/
